/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

body {
  background-color: #f3f3f3;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.25;
  padding-bottom: 4em;
}

.text-center {
  text-align: center;
}

img {
  width: 100%;
}

.site-title {
  font-size: 3em;
  text-align: center;
  margin: 1.5em 0;
}

.applied-filter-list {
  font-size: 1em;
  color: #333333;
  text-align: right;
  margin: 0 auto;
  max-width: 98%;
  padding-top: 1em;
  padding-right: .5em;
}

.wrapper0 {
  margin: 0 auto;
  max-width: 98%;
}

@media screen and (min-width: 800px) {
  .wrapper0 {
    display: grid;
    grid-template-columns: 60px auto;
    grid-column-gap: 2px;
  }
}

.wrapper1 {
  display: grid;
  align-items: end;
  grid-template-columns: 1fr;
  grid-column-gap: 4px;
  grid-row-gap: 2em;
}

@media screen and (min-width: 500px) {
  .wrapper1 {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 780px) {
  .wrapper1 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 800px) {
  .wrapper1 {
    margin-top: 1.4em;
  }
}

@media screen and (min-width: 1100px) {
  .wrapper1 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1600px) {
  .wrapper1 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 2000px) {
  .wrapper1 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

.menu-button-container {
  margin: 1em 0;
}

.profile-card {
  line-height: 1.25;
  cursor: pointer;
  transition: all .5s ease;
}

.profile-card p {
  font-family: 'Raleway', sans-serif;
}

/**
 * Menu overview.
 */

.c-menu {
  position: fixed;
  z-index: 900;
  background-color: #f3f3f3;
  transition: transform 0.5s;
}

.c-menu label {
  display: inline-block;
  width: 100%;
  padding: 1em 0;
  font-family: 'Raleway', sans-serif;
  letter-spacing: .5px;
}

.c-menu input {
  height: auto;
}

.c-menu ul {
  width: 100%;
  margin: 0 auto;
}

.c-menu ul li {
  padding: 1em;
  font-size: 1em;
  clear: both;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.c-menu ul li:first-child {
  border-top: 1px solid #f3f3f3;
}

.c-menu ul li:last-child {
  border: 0;
  padding: 0;
  margin-bottom: 3em;
}

.c-menu ul li:hover {
  background-color: #77923d;
  color: #ffffff;
}

.c-menu ul li input {
  float: right;
}

.navagation-section-header {
  padding: .5em 1em;
  margin-top: 1em;
  font-size: 1em;
  font-weight: 700;
  color: #000000;
  text-align: left;
}

.search-by-email-menu label,
.search-by-name-menu label {
  font-weight: 700;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin-top: 1.5em;
  margin-bottom: .5em;
}

.search-by-email-menu,
.search-by-name-menu {
  padding: .5em 1em;
}

.search-by-email-menu input,
.search-by-name-menu input {
  height: 40px;
  width: 100%;
}

.departments {
  clear: both;
  border-bottom: 1px solid #31839a;
  padding-top: 1em;
}

/**
 * Close button resets.
 */
.c-menu__close {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #cf2347;
  box-shadow: none;
  border: none;
  border-radius: none;
  color: #ffffff;
  cursor: pointer;
  text-align: right;
}

/**
 * Close button resets.
 */
.c-menu__close:focus {
  outline: none;
}

/**
 * Body states.
 *
 * When a menu is active, we want to hide the overflows on the body to prevent
 * awkward document scrolling.
 */
body.has-active-menu {
  overflow: hidden;
}

/**
 * Mask component
 */

.c-mask {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 0;
  height: 0;
  background-color: #000;
  opacity: 0;
  transition: opacity 0.5s, width 0s 0.5s, height 0s 0.5s;
}

.c-mask.is-active {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  transition: opacity 0.5s;
}

.c-menu--push-left {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

@media all and (min-width: 320px) {
  .c-menu--push-left {
    width: 320px;
  }
}

.c-menu--push-left .c-menu__item {
  display: block;
  text-align: left;
  background-color: none;
}

.c-menu--push-left .c-menu__item:first-child {
  border-top: none;
}

.c-menu--push-left .c-menu__item:last-child {
  border-bottom: none;
}

.c-menu--push-left .c-menu__link {
  display: block;
  padding: 1em 2m;
  color: #77923d;
}

.c-menu--push-left .c-menu__close {
  display: block;
  padding: 12px 24px;
  width: 100%;
}

.c-menu--push-left {
  top: 0;
  left: 0;
  transform: translateX(-100%);
}

@media all and (min-width: 320px) {
  .c-menu--push-left {
    transform: translateX(-320px);
  }
}

.c-menu--push-left.is-active {
  transform: translateX(0);
}

.o-wrapper.has-push-left {
  transform: translateX(100%);
}

@media all and (min-width: 320px) {
  .o-wrapper.has-push-left {
    transform: translateX(320px);
  }
}

.search {
  width: 100%;
  background-color: #333;
  color: #fff;
  height: 60px;
  font-size: 1.5em;
  border: none;
  border-bottom: 4px solid #77923d;
}
.search:hover {
  background-color: #77923d;
  border-bottom: 4px solid #333;
}
/* -----------------------------------------------------------------------------

  WRAPPER OBJECT

----------------------------------------------------------------------------- */
.o-wrapper {
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

/* -----------------------------------------------------------------------------

  BUTTONS

----------------------------------------------------------------------------- */
.c-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: none;
  box-shadow: none;
  color: #333;
  cursor: pointer;
}

.c-button:focus {
  outline: none;
}

.c-button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

/* -----------------------------------------------------------------------------

  CHECKBOX

----------------------------------------------------------------------------- */
/* input[type=checkbox] {
	visibility: hidden;
} */

/* -----------------------------------------------------------------------------

  Profile-Cards

----------------------------------------------------------------------------- */
body.no-team {
  background-color: #333;
}

body.account-team {
  background-color: #77923d;
}

body.campaign-team {
  background-color: #cf2347;
}

body.creative-team {
  background-color: #e36d25;
}

body.labs-team {
  background-color: #31839a;
}

body.operations-team {
  background-color: #666666;
}

body.quality-team {
  background-color: #31839a;
}

body.strategy-team {
  background-color: #6a5584;
}

body.tech-team {
  background-color: #999999;
}

div.no-team {
  border: 1px solid #333;
  background-color: #333;
}

div.account-team {
  border: 1px solid #77923d;
  background-color: #77923d;
}

div.campaign-team {
  border: 1px solid #cf2347;
  background-color: #cf2347;
}

div.creative-team {
  border: 1px solid #e36d25;
  background-color: #e36d25;
}

div.labs-team {
  border: 1px solid #666666;
  background-color: #666666;
}

div.operations-team {
  border: 1px solid #666666;
  background-color: #666666;
}

div.quality-team {
  border: 1px solid #31839a;
  background-color: #31839a;
}

div.strategy-team {
  border: 1px solid #6a5584;
  background-color: #6a5584;
}

figure.no-team {
  border: 2px solid #333;
}

figure.account-team {
  border: 2px solid #77923d;
}

figure.campaign-team {
  border: 2px solid #cf2347;
}

figure.creative-team {
  border: 2px solid #31839a;
}

figure.dev-team {
  border: 2px solid #e36d25;
}

figure.labs-team {
  border: 2px solid #666666;
}

figure.operations-team {
  border: 2px solid #999999;
}

figure.quality-team {
  border: 2px solid #31839a;
}

figure.strategy-team {
  border: 2px solid #6a5584;
}

figure.tech-team {
  border: 2px solid #31839a;
}

.profile-card {
  position: relative;
  overflow: hidden;
  float: left;
}

.front-page-name {
  font-size: 1.25em;
  letter-spacing: 1px;
  font-weight: 700;
}

.front-page-title {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  letter-spacing: 1.5px;
}

.profile-card figure {
  margin: 0;
  padding: 0;
  position: relative;
  cursor: pointer;
}

.profile-card figure img {
  display: block;
  position: relative;
  z-index: 10;
}

.profile-card figure figcaption {
  display: block;
  position: absolute;
  z-index: 5;
}

.profile-card figure figcaption {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  backface-visibility: hidden;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

.profile-card figure img {
  backface-visibility: hidden;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

.profile-card figure:hover img,
figure.hover img {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.profile-card figure:hover figcaption,
figure.hover figcaption {
  -webkit-transform: rotateY(0);
  -moz-transform: rotateY(0);
  transform: rotateY(0);
}

.profile-card div {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
}

.profile-card h2,
.profile-card p,
.profile-card a {
  text-align: center;
  color: #ffffff;
}

.profile-card h2 {
  font-size: 1.5em;
}

.profile-card p,
.profile-card a {
  font-size: 1.25em;
  margin-top: .25em;
  font-family: 'Raleway', sans-serif;
}

.profile-card figcaption a {
  display: block;
  text-decoration: none;
}

.profile-card figcaption p:last-child {
  margin-top: 2em;
}

.profile-menu {
  color: #fff;
  background-color: #333;
}

.profile-menu i {
  padding-right: .5em;
}

.profile-menu a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  padding: .75em 1em;
}
.profile-menu a:hover {
  color: #77923d;
}

/* -----------------------------------------------------------------------------

  profile page

----------------------------------------------------------------------------- */
.profile-border {
  margin: 0 auto;
  max-width: 800px;
  height: 100%;
  padding-top: 1em;
  padding-bottom: 4em;
  background-color: #fff;
  box-shadow: 0px 0px 6px 4px rgba(0, 0, 0, .2);
  position: relative;
}

@media screen and (min-width: 600px) {
  .profile-border {
    padding-bottom: 6em;
    margin-top: 2em;
  }
}

.profile-page-menu,
.profile-edit-page-menu {
  background-color: #000;
  margin-bottom: 2em;
  padding: 1em 1em;
}

.profile-page-menu {
  display: flex;
  flex-wrap: nowrap;
}

.profile-page-menu div {
  width: 50%;
}
.profile-page-menu div:last-child {
  text-align: right;
}

@media screen and (min-width: 600px) {
  .profile-page-menu,
  .profile-edit-page-menu {
    margin-bottom: 3em;
  }
}

.profile-page-menu a,
.profile-edit-page-menu a {
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
}

.profile-page-menu i {
  color: #ffffff;
  margin-right: .5em;
}

.profile-page-menu a:hover,
.profile-edit-page-menu a:hover {
  color: #77923d;
}

.profile-page-menu a:hover i,
.profile-edit-page-menu a:hover i {
  color: #77923d;
}

.profile-pic-container {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-bottom: 2em;
}

.profile-pic {
  border-radius: 50%;
}

.profile-information h1 {
  text-align: left;
  color: #333;
  font-weight: 700;
  margin-top: .5em;
  margin-bottom: .15em;
  font-size: 2.25em;
}

.profile-information a {
  color: #333;
  text-decoration: none;
  border-bottom: 2px solid #ffffff;
  padding-bottom: .25em;
}

.profile-information a:hover {
  border-bottom: 2px solid #77923d;
  color: #77923d;
}

.contact-information-layout {
  font-size: 1.25em;
  padding: 1em 0 1em 0;
}

@media screen and (min-width: 600px) {
  .contact-information-layout {
    margin-top: 2em;
    padding: 1em 2.5em 1em 2.5em;
  }
  .flex-container {
    display: flex;
    flex-wrap: wrap;
  }
}

.flex-container div,
.personal-information {
  padding: 1em;
}

.personal-information {
  margin-top: 2em;
}

.personal-information .profile-category-headline {
  margin-bottom: .5em;
}

.personal-information p {
  line-height: 1.5em;
}

@media screen and (min-width: 600px) {
  .flex-container div {
    width: 50%;
  }
}

.contact-information-layout p {
  margin-bottom: 1.10em;
  font-family: 'Raleway', sans-serif;
}

.contact-information-layout p:last-child {
  margin-bottom: 0;
}

.profile-category-headline {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: 700;
  display: block;
  margin-bottom: .25em;
}

/* -----------------------------------------------------------------------------

  profile edit page

----------------------------------------------------------------------------- */
.profile-edit-header {
  width: 90%;
  margin: 0 auto;
  margin-top: 2em;
}

.profile-edit-form {
  width: 90%;
  margin: 0 auto;
}

@media screen and (min-width: 600px) {
  .profile-edit-form fieldset .flex-container div {
    width: 50%;
  }
}

.profile-edit-form select {
  display: block;
  margin-top: .5em;
  height: 60px;
  font-size: 1em;
  width: 100%;
}

@media screen and (min-width: 600px) {
  .profile-edit-form select {
    display: block;
    width: 60%;
  }
}

.profile-edit-form div {
  margin-top: 1.5em;
  padding: 1em;
}

.profile-edit-form label {
  font-weight: 700;
  display: block;
}

.profile-edit-form input {
  display: block;
  margin-top: .5em;
  width: 100%;
}
.profile-edit-form textarea {
  display: block;
  margin-top: .5em;
  padding: .75em .5em;
  width: 100%;
  font-size: 1em;
}

@media screen and (min-width: 600px) {
  .profile-edit-form input {
    width: 90%;
  }
  .profile-edit-form textarea {
    width: 90%;
  }
}

.help {
  margin-top: .5em;
  display: none;
  font-size: 90%;
  color: #666;
}

input {
  border: none;
  height: 60px;
  font-size: 1em;
  padding-left: .5em;
  border-radius: 4px;
}

input:focus + .help {
  display: inline-block;
}

input:required,
textarea:required,
select:required {
  background: #f3f3f3;
  border: 1px dotted #333;
}

input:optional,
textarea,
select {
  background: #fff;
  border: 1px dotted #333;
}

@media screen and (min-width: 600px) {
  #country {
    width: 90%;
  }
}

.profile-submit {
  height: 60px;
  border: 2px solid #77923d;
  border-radius: 8px;
  padding: .25em .75em;
  background-color: #333;
  color: #fff;
  font-size: 1.5em;
  transition: all .5s;
  letter-spacing: .5px;
}

.profile-submit:hover {
  border: 2px solid #333;
  background-color: #77923d;
}

.successMessage,
.failureMessage {
  margin-top: 2em;
  padding: 1em;
  font-size: 1.25em;
  background-color: #77923d;
  color: #ffffff;
  text-align: center;
}

.failureMessage {
  background-color: #cf2347;
}
