/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f3f3f3;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.25;
}

img {
  width: 100%;
}

.wrapper-0 {
  margin: 0 auto;
  max-width: 98%;
}

@media screen and (min-width:800px) {
  .wrapper-0 {
    display: grid;
    grid-template-columns: 60px auto;
    grid-column-gap: 2px;
  }
}

.wrapper-1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 2px;
  grid-row-gap: 2px;
}

@media screen and (min-width:500px){
  .wrapper-1 {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width:780px){
  .wrapper-1 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width:800px){
  .wrapper-1 {
    margin-top: 1.4em;
  }
}

@media screen and (min-width:1100px){
  .wrapper-1 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width:1600px){
  .wrapper-1 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width:2000px){
  .wrapper-1 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

.menu-button-container {
  margin: 1em 0;
}
.profile-container {
  line-height: 1.25;
  cursor: pointer;
  transition: all .5s ease;
}
/**
 * Menu overview.
 */
.c-menu {
  position: fixed;
  z-index: 900;
  background-color: #f3f3f3;
  transition: transform 0.5s;
}

.c-menu label {
  display: inline-block;
  width: 100%;
  padding: 1em 0;
  font-family: 'Raleway', sans-serif;
  letter-spacing: .5px;
}

.c-menu ul {
  width: 100%;
  margin: 0 auto;
}

.c-menu ul li {
  padding: 1em;
  clear: both;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.c-menu ul li:first-child {
  border-top: 1px solid #f3f3f3;
}

.c-menu ul li:last-child {
  border-bottom: none;
}

.c-menu ul li:hover {
  background-color: #77923d;
  color: #ffffff;
}

.c-menu ul li input {
  float: right;
}

.navagation-section-header {
  padding: .5em 1em;
  padding-top: 1.5em;
  font-size: 1.2em;
  font-weight: bold;
  color: #000000;
  text-align: left;
}

.departments {
  clear: both;
  border-bottom: 1px solid #bfbfbf;
  padding-top: 1em;
}

/**
 * Close button resets.
 */
.c-menu__close {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #cf2347;
  box-shadow: none;
  border: none;
  border-radius: none;
  color: #ffffff;
  cursor: pointer;
  text-align: right;
}

/**
 * Close button resets.
 */
.c-menu__close:focus {
  outline: none;
}

/**
 * Body states.
 *
 * When a menu is active, we want to hide the overflows on the body to prevent
 * awkward document scrolling.
 */
body.has-active-menu {
  overflow: hidden;
}

/**
 * Mask component
 */

.c-mask {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 0;
  height: 0;
  background-color: #000;
  opacity: 0;
  transition: opacity 0.5s, width 0s 0.5s, height 0s 0.5s;
}

.c-mask.is-active {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  transition: opacity 0.5s;
}

.c-menu--push-left {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

@media all and (min-width: 320px) {
  .c-menu--push-left {
    width: 300px;
  }
}

.c-menu--push-left .c-menu__item {
  display: block;
  text-align: left;
  background-color:none;
}

.c-menu--push-left .c-menu__item:first-child {
  border-top: none;
}

.c-menu--push-left .c-menu__item:last-child {
  border-bottom: none;
}

.c-menu--push-left .c-menu__link {
  display: block;
  padding: 1em 2m;
  color:  #77923d;
}

.c-menu--push-left .c-menu__close {
  display: block;
  padding: 12px 24px;
  width: 100%;
}

.c-menu--push-left {
  top: 0;
  left: 0;
  transform: translateX(-100%);
}

@media all and (min-width: 320px) {
  .c-menu--push-left {
    transform: translateX(-300px);
  }
}

.c-menu--push-left.is-active {
  transform: translateX(0);
}

.o-wrapper.has-push-left {
  transform: translateX(100%);
}

@media all and (min-width: 320px) {
  .o-wrapper.has-push-left {
    transform: translateX(300px);
  }
}

/* -----------------------------------------------------------------------------

  WRAPPER OBJECT

----------------------------------------------------------------------------- */
.o-wrapper {
  -webkit-transition: -webkit-transform 0.5s;
          transition: transform 0.5s;
}

/* -----------------------------------------------------------------------------

  BUTTONS

----------------------------------------------------------------------------- */
.c-button-container {
  border-bottom:1px solid #666666
}

.c-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: none;
  box-shadow: none;
  color:  #e36d25;
  cursor: pointer;
}

.c-button:focus {
  outline: none;
}

.c-button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

/* -----------------------------------------------------------------------------

  CHECKBOX

----------------------------------------------------------------------------- */
.department-title {
  font-size: 1.25em;
  margin-left: .5em;
}

/* input[type=checkbox] {
	visibility: hidden;
} */

/* -----------------------------------------------------------------------------

  User-Cards

----------------------------------------------------------------------------- */
.profile-container {
  border:1px solid #31839a;
  background-color: #31839a;
}

.profile-container p {
  color: #ffffff;
}

.profile-container p:last-child {
  margin-top: .25em;
}

.profile-container figcaption {
  padding: .5em 1em .75em
}

img {
  margin:0;
  padding:0;
}

figcaption {
  margin:0;
}

.front-page-name {
  font-size: 1.25em;
  letter-spacing: 1px;
}

.front-page-title {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  letter-spacing: 1.5px;
}

.profile-menu {
  color: #fff;
  background-color: #333;
}

.profile-menu i {
  padding-right: .5em;
}

.profile-menu a {
  color: #fff;
  text-decoration: none;
  display:inline-block;
  width: 100%;
  padding: .75em 1em;
}
.profile-menu a:hover {
  color:  #e36d25;
  color: #77923d;
}
/* -----------------------------------------------------------------------------

  profile page

----------------------------------------------------------------------------- */
.profile-header {
  margin: 2em 0;
}

.profile-pic-container {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: 0 auto;
  border: 2px solid #e36d25
}

.profile-pic {
  border-radius: 50%;
}

.profile-information {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
}

.profile-information h1 {
  text-align: center;
  color: #333;
  font-weight: 700;
  font-size: 3em;
}

.profile-information h2 {
  text-align: center;
  color: #333;
  font-size: 1.75em;
  margin-bottom: .25em;
}

.profile-information p, 
.profile-information a  {
  margin: .25em 0;
}

.profile-information a  {
  color: #333;
  text-decoration: none;
  border-bottom: 2px solid #f3f3f3;
  padding-bottom: .25em;
}

.profile-information a:hover  {
  border-bottom: 2px solid #333;
  padding-bottom: .25em;
  color: #333; 
}

.contact-information-layout {
  margin-top: 3em;
  font-size: 1em;
}

.contact-information-layout p {
  margin-top: 1em;
}

.contact-info {
  width: 100%;
  padding: 1em;
}

.company-info {
  width: 100%;
  padding: 1em;
}

@media screen and (min-width: 600px) {
  .contact-information-layout {
    display: flex;
  }
  .contact-info {
    width: 60%;
  }
  .company-info {
    width: 40%;
  }
}

@media screen and (min-width: 800px) {
  .contact-information-layout {
    font-size: 1.25em;
  }
}

.department-title-text {
  font-weight: 700;
  display:block;
  margin-bottom:.5em;
}

.postition-title-text {
  font-weight: 700; 
  display:block;
  margin-bottom:.5em;
}