/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*_______________________universal_______________________*/

* {
  box-sizing: border-box;
}

body {
  background-color: #f3f3f3;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.25;
  padding-bottom: 4em;
}

.text-center {
  text-align: center;
}

img {
  width: 100%;
  height: auto;
}

/*_______________________home page_______________________*/
.applied-filter-list {
  font-size: 1em;
  color: #333333;
  text-align: right;
  max-width: 98%;
  padding-top: 1em;
}

.wrapper-0 {
  margin: 0 auto;
  max-width: 98%;
}

@media screen and (min-width: 800px) {
  .wrapper-0 {
    display: grid;
    grid-template-columns: 60px auto;
    grid-column-gap: 2px;
  }
}

.wrapper-1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 4px;
  grid-row-gap: 2em;
  align-items: end;
}

@media screen and (min-width: 500px) {
  .wrapper-1 {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 780px) {
  .wrapper-1 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 800px) {
  .wrapper-1 {
    margin-top: 1.4em;
  }
}

@media screen and (min-width: 1100px) {
  .wrapper-1 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1600px) {
  .wrapper-1 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 2000px) {
  .wrapper-1 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

.menu-button-container {
  margin: 1em 0;
}

.profile-card {
  cursor: pointer;
  transition: all .5s ease;
  position: relative;
  overflow: hidden;
  float: left;
}

.profile-card figure {
  margin: 0;
  padding: 0;
  position: relative;
  cursor: pointer;
}

.profile-card figure img {
  display: block;
  position: relative;
  z-index: 10;
}

.profile-card figure figcaption {
  display: block;
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  backface-visibility: hidden;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

.profile-card figure img {
  backface-visibility: hidden;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

.profile-card figure:hover img,
figure.hover img {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.profile-card figure:hover figcaption,
figure.hover figcaption {
  -webkit-transform: rotateY(0);
  -moz-transform: rotateY(0);
  transform: rotateY(0);
}

.profile-card div {
  padding-top: 1em;
  padding-bottom: 1em;
}

.profile-card div p {
  font-size: 1em;
  margin-top: .5em;
}

.profile-card h2,
.profile-card p,
.profile-card a {
  text-align: center;
  color: #ffffff;
}

.profile-card h2 {
  font-size: 1.5em;
}

.profile-card p,
.profile-card a {
  font-size: 1.25em;
  margin-top: .25em;
  font-family: 'Raleway', sans-serif;
}

.profile-card figcaption a {
  display: block;
  text-decoration: none;
}

.profile-card figcaption p:last-child {
  margin-top: 2em;
}

/*_______________________home page menu_______________________*/

.c-menu {
  position: fixed;
  z-index: 900;
  background-color: #f3f3f3;
  transition: transform 0.5s;
}

.profile-menu {
  background-color: #333;
  padding: 1em;
}

.profile-menu i {
  display: inline-block;
  margin-right: .5em;
}

.profile-menu a {
  display: inline-block;
  width: 100%;
  color: #fff;
  text-decoration: none;
}

.c-menu ul {
  width: 100%;
  margin: 0 auto;
}

.c-menu ul li {
  padding: 1em;
  clear: both;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.c-menu ul li:first-child {
  border-top: 1px solid #f3f3f3;
}

.c-menu ul li:last-child {
  border-bottom: none;
}

.c-menu ul li:hover {
  background-color: #77923d;
  color: #ffffff;
}

.c-menu ul li input {
  float: right;
}

.c-menu label {
  display: inline-block;
  width: 100%;
  padding: 1em 0;
  font-family: 'Raleway', sans-serif;
  letter-spacing: .5px;
}

.navagation-section-header {
  padding: .5em 1em;
  padding-top: 1.5em;
  font-size: 1.2em;
  font-weight: bold;
  color: #000000;
  text-align: left;
}

.departments {
  clear: both;
  border-bottom: 1px solid #31839a;
  padding-top: 1em;
}

.c-menu__close {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #cf2347;
  box-shadow: none;
  border: none;
  border-radius: none;
  color: #ffffff;
  cursor: pointer;
  text-align: right;
}

.c-menu__close:focus {
  outline: none;
}

body.has-active-menu {
  overflow: hidden;
}

.c-mask {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 0;
  height: 0;
  background-color: #000;
  opacity: 0;
  transition: opacity 0.5s, width 0s 0.5s, height 0s 0.5s;
}

.c-mask.is-active {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  transition: opacity 0.5s;
}

.c-menu--push-left {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

@media all and (min-width: 320px) {
  .c-menu--push-left {
    width: 300px;
  }
}

.c-menu--push-left .c-menu__item {
  display: block;
  text-align: left;
  background-color: none;
}

.c-menu--push-left .c-menu__item:first-child {
  border-top: none;
}

.c-menu--push-left .c-menu__item:last-child {
  border-bottom: none;
}

.c-menu--push-left .c-menu__link {
  display: block;
  padding: 1em 2m;
  color: #77923d;
}

.c-menu--push-left .c-menu__close {
  display: block;
  padding: 12px 24px;
  width: 100%;
}

.c-menu--push-left {
  top: 0;
  left: 0;
  transform: translateX(-100%);
}

@media all and (min-width: 320px) {
  .c-menu--push-left {
    transform: translateX(-300px);
  }
}

.c-menu--push-left.is-active {
  transform: translateX(0);
}

.o-wrapper.has-push-left {
  transform: translateX(100%);
}

@media all and (min-width: 320px) {
  .o-wrapper.has-push-left {
    transform: translateX(300px);
  }
}

.o-wrapper {
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

.c-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: none;
  box-shadow: none;
  color: #333;
  cursor: pointer;
}

.c-button:focus {
  outline: none;
}

.c-button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

/*_____department colors________*/

body.account-team {
  background-color: #77923d;
}

body.campaign-team {
  background-color: #cf2347;
}

body.creative-team {
  background-color: #e36d25;
}

body.labs-team {
  background-color: #31839a;
}

body.operations-team {
  background-color: #666666;
}

body.quality-team {
  background-color: #999999;
}

body.strategy-team {
  background-color: #6a5584;
}

div.account-team {
  border: 1px solid #77923d;
  background-color: #77923d;
}

div.campaign-team {
  border: 1px solid #cf2347;
  background-color: #cf2347;
}

div.creative-team {
  border: 1px solid #e36d25;
  background-color: #e36d25;
}

div.labs-team {
  border: 1px solid #31839a;
  background-color: #31839a;
}

div.operations-team {
  border: 1px solid #666666;
  background-color: #666666;
}

div.quality-team {
  border: 1px solid #999999;
  background-color: #999999;
}

div.strategy-team {
  border: 1px solid #6a5584;
  background-color: #6a5584;
}

figure.account-team {
  border: 2px solid #77923d;
}

figure.campaign-team {
  border: 2px solid #cf2347;
}

figure.creative-team {
  border: 2px solid #e36d25;
}

figure.labs-team {
  border: 2px solid #31839a;
}

figure.operations-team {
  border: 2px solid #999999;
}

figure.quality-team {
  border: 2px solid #666666;
}

figure.strategy-team {
  border: 2px solid #6a5584;
}

/* -----------------------------------------------------------------------------

  profile page

----------------------------------------------------------------------------- */
.profile-border {
  margin: 0 auto;
  max-width: 800px;
  height: 100%;
  padding-top: 2em;
  padding-bottom: 4em;
  background-color: #fff;
  border-left: 1px solid #6a5584;
  border-right: 1px solid #695584;
  border-bottom: 1px solid #6a5584;
}

@media screen and (min-width: 600px) {
  .profile-border {
    padding-bottom: 6em;
  }
}

.profile-pic-container {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: 0 auto;
}

.profile-pic {
  border-radius: 50%;
}

.profile-information {
  text-align: left;
}

.profile-information h1 {
  text-align: center;
  color: #333;
  font-weight: 700;
  margin-top: .5em;
  margin-bottom: .15em;
  font-size: 2.25em;
}

.profile-information h2 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: #333;
  font-size: 1.75em;
  margin-bottom: .25em;
}

.profile-information a {
  color: #333;
  text-decoration: none;
  border-bottom: 2px solid #ffffff;
  padding-bottom: .25em;
}

.profile-information a:hover {
  border-bottom: 2px solid #77923d;
  color: #77923d;
}

.contact-information-layout {
  font-size: 1.25em;
  padding: 1em 0 2em 0;
}

@media screen and (min-width: 600px) {
  .contact-information-layout {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3em;
    padding: 1em 2.5em 2em 4.5em;
  }
}

.contact-information-layout div {
  padding: 1em;
}

.contact-information-layout div:last-child {
  margin-top: 1.5em;
}

@media screen and (min-width: 600px) {
  .contact-information-layout div:last-child {
    margin-top: 3em;
    margin-left: -3.5em;
    margin-right: -2.5em;
  }
}

.contact-information-layout div:last-child .profile-category-headline {
  margin-bottom: 1em;
}

.contact-information-layout div:last-child p {
  line-height: 1.5em;
}

@media screen and (min-width: 600px) {
  .contact-information-layout div:nth-child(odd) {
    width: 60%;
  }
  .contact-information-layout div:nth-child(even) {
    width: 40%;
  }
  .contact-information-layout div:last-child {
    flex-grow: 2;
  }
}

.contact-information-layout p {
  margin-bottom: 2em;
  font-family: 'Raleway', sans-serif;
}

.contact-information-layout p:last-child {
  margin-bottom: 0;
}

.profile-category-headline {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: 700;
  display: block;
  margin-bottom: .25em;
}

/* -----------------------------------------------------------------------------

  profile edit page

----------------------------------------------------------------------------- */
.profile-edit-form {
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}

.profile-edit-form div {
  margin-top: 3em;
}

.profile-edit-form label {
  font-weight: 700;
  display: block;
  margin-top: 2em;
}

.profile-edit-form input {
  display: block;
  margin-top: .5em;
  padding: .75em .5em;
  width: 60%;
}

.profile-edit-form textarea {
  display: block;
  margin-top: .5em;
  padding: .75em .5em;
  width: 90%;
}
