/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  /* background-color:#313131; */
}

img {
  width: 100%;
}

.wrapper-0 {
  display: grid;
  grid-template-columns: 60px auto; 
  grid-column-gap: 2px;
  margin: 0 auto;
  margin-top: 50px;
  max-width: 98%;
}

.wrapper-1 {
  display: grid;
  grid-template-columns: 1fr; 
  grid-column-gap: 2px;
  grid-row-gap: 2px;
}

@media screen and (min-width:600px){
  .wrapper-1 {
    grid-template-columns: 1fr 1fr; 
  }
}

@media screen and (min-width:1100px){
  .wrapper-1 {
    grid-template-columns: 1fr 1fr 1fr; 
  }
} 

@media screen and (min-width:1600px){
  .wrapper-1 {
    grid-template-columns: 1fr 1fr 1fr 1fr; 
  }
} 

@media screen and (min-width:2000px){
  .wrapper-1 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
  }
} 

.profile-container {
  background-color: #f1f1f1;
  color: #d1d1d1;
  font-size: 2em;
  line-height: 1.25;
  cursor: pointer;
  transition: all .5s ease;
}
/**
 * Menu overview.
 */
.c-menu {
  position: fixed;
  z-index: 900;
  background-color: #a3a3a3;
  transition: transform 0.5s;
}

.navagation-section-header {
  /* border-bottom: 1px solid #f1f1f1; */
  padding: .5em .75em;
  font-size: 1.6em;
  color: #000;
  text-align: left;
}

.c-menu__items {
  margin:0;
  padding:0;
}

.c-menu__item {
  list-style: none;
  margin: 0;
  padding: 0;
}

.departments {
  background-color:#bfbfbf;
}

/**
 * Close button resets.
 */
.c-menu__close {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: rgb(211, 211, 211);
  box-shadow: none;
  border: none;
  border-radius: none;
  color: #000;
  cursor: pointer;
  text-align:right;
}

/**
 * Close button resets.
 */
.c-menu__close:focus {
  outline: none;
}

/**
 * Body states.
 *
 * When a menu is active, we want to hide the overflows on the body to prevent
 * awkward document scrolling.
 */
body.has-active-menu {
  overflow: hidden;
}

/**
 * Mask component
 */

.c-mask {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 0;
  height: 0;
  background-color: #000;
  opacity: 0;
  transition: opacity 0.5s, width 0s 0.5s, height 0s 0.5s;
}

.c-mask.is-active {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  transition: opacity 0.5s;
}

.c-menu--push-left {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

@media all and (min-width: 320px) {
  .c-menu--push-left {
    width: 300px;
  }
}

.c-menu--push-left .c-menu__item {
  display: block;
  text-align: left;
  background-color:none;
}

.c-menu--push-left .c-menu__item:first-child {
  border-top: none;
}

.c-menu--push-left .c-menu__item:last-child {
  border-bottom: none;
}

.c-menu--push-left .c-menu__link {
  display: block;
  padding: 12px 24px;
  color: #060606;
}

.c-menu--push-left .c-menu__close {
  display: block;
  padding: 12px 24px;
  width: 100%;
}

.c-menu--push-left {
  top: 0;
  left: 0;
  transform: translateX(-100%);
}

@media all and (min-width: 320px) {
  .c-menu--push-left {
    transform: translateX(-300px);
  }
}

.c-menu--push-left.is-active {
  transform: translateX(0);
}

.o-wrapper.has-push-left {
  transform: translateX(100%);
}

@media all and (min-width: 320px) {
  .o-wrapper.has-push-left {
    transform: translateX(300px);
  }
}

/* -----------------------------------------------------------------------------

  WRAPPER OBJECT
  
----------------------------------------------------------------------------- */
.o-wrapper {
  -webkit-transition: -webkit-transform 0.5s;
          transition: transform 0.5s;
}

/* -----------------------------------------------------------------------------

  BUTTONS
  
----------------------------------------------------------------------------- */
.c-button-container {
  border-bottom:1px solid #000;
}

.c-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: none;
  box-shadow: none;
  color: #000;
  cursor:pointer;
}

.c-button:focus {
  outline: none;
}

.c-button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

/* -----------------------------------------------------------------------------

  CHECKBOX
  
----------------------------------------------------------------------------- */
.department-title {
  font-size: 1.25em;
  margin-left: .5em;
}

/* input[type=checkbox] {
	visibility: hidden;
} */


.profile-container {
  border:1px solid #f1f1f1;
}